<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>KING</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
  </head>

  <body>
    <h1>
      Cumulative Statistics
    </h1>

      <canvas id="line-chart" width="800" height="450"></canvas>

      <script>
  
        var myGraphData = {{ data|tojson }};
  
        // // dot notation and bracket notation interchange
        // var labels = myGraphData.dates;
        // var colours = myGraphData[''];

        // // we need datasets as a list of dictionaries: data, label, borderColor
        // var datasets = [];

        // for (team in myGraphData['graph data']['goals']) {
        //   var line_object = {
        //     data: myGraphData['graph data']['goals'][team],
        //     label: team,
        //     borderColor: myGraphData['team themes'][team]['colour'] 
        //   }
        //   datasets.push(line_object);
        // }
  
      </script>
  </body>
</html>